# 1. MySQL Configuration (Identity Service)
MYSQL_PORT=your_mysql_port
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=your_mysql_database_name

# 2. MongoDB Configuration (Post, Notification, Chat Services)
MONGO_PORT=your_mongo_port
MONGO_ROOT_USERNAME=your_mongo_root_username
MONGO_ROOT_PASSWORD=your_mongo_root_password

# 3. Neo4j Graph DB Configuration (Profile Service)
NEO4J_HTTP_PORT=your_neo4j_http_port
NEO4J_BOLT_PORT=your_neo4j_bolt_port
NEO4J_USER=your_neo4j_username
NEO4J_PASSWORD=your_neo4j_password

# 4. Redis Configuration (Distributed Caching & Rate Limiting)
REDIS_PORT=your_redis_port

# 5. Apache Kafka & AKHQ Management UI
KAFKA_EXTERNAL_PORT=your_kafka_external_port
AKHQ_PORT=your_akhq_port

# 6. Keycloak Configuration (Identity Provider / OIDC Server)
KEYCLOAK_PORT=your_keycloak_port
KEYCLOAK_ADMIN_USER=your_keycloak_admin_username
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password

# 7. Zipkin Configuration (Distributed Tracing)
ZIPKIN_PORT=your_zipkin_port
